// Content breackpoints.

$bp-small : 15em;
$bp-med : 46.8em;
$bp-large : 64em;
$bp-xl : 73em;
$bp-xl-1: 103.1em;

// Theme variables
$bg-color:		#E6E6E6;
$pri-color:  	#30242E;
$tab1-color:  	#E1FFF2;
$tab2-color:    #C4DBD1;
$tab3-color:    #96AAA1;
$title-font:	MonotypeCorsivaRegular;
$text-font:		MyriadProRegular;
