/**
 * 	Propiedades de todos aquellos elementos que pueden ser reutilizados,
 * como tablas, botones, etc.
 * 
 */
@media all and (min-width: 15em) {
  .m-shadow {
    box-shadow: 10px 10px 37px 0px rgba(0, 0, 0, 0.75); }

  .m-tabla table {
    font-family: MyriadProRegular;
    font-size: 1.6em;
    margin-left: 10%;
    margin-bottom: 2%; }
    .m-tabla table td {
      width: 280px;
      padding-left: 10px;
      border-left: solid 5px #30242e; } }
@media all and (min-width: 73em) {
  .m-tabla table td {
    width: 400px; } }
